output "DP-2" {

    mode "2560x1440@165.001"
    scale 1
    transform "normal"
}

input {

    keyboard {

        numlock

        xkb {
            layout "us"
        }
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="85%"
}


layout {

    gaps 6

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }

    focus-ring {
	off
    }

    border {
        width 8

        urgent-color "#9b0000"

        active-gradient from="#80c8ff" to="#c7ff7f" angle=45 in="oklab"
        inactive-gradient from="#505050" to="#808080" angle=45
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        left 64
        right 64
	top 10
        bottom 10
    }
}

spawn-at-startup "waybar"
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

animations {

    slowdown 1.2
}


binds {

    // To find an XKB name for a particular key, use wev.

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+O repeat=false { toggle-overview; }

    Mod+Q hotkey-overlay-title="Open a Termina: kitty"                      { spawn "kitty"; }
    Mod+R hotkey-overlay-title="Run an Application: rofi"                   { spawn-sh "pkill rofi || rofi -show run"; }
    Mod+F hotkey-overlay-title="Runs a Browser: librewolf"                  { spawn "librewolf"; }
    Mod+C hotkey-overlay-title="Closes the focused window" repeat=false     { close-window; }

    Mod+N hotkey-overlay-title="Gets a random wallpaper"                    { spawn-sh "waypaper --random"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock"            { spawn "swaylock"; }

    XF86AudioRaiseVolume  allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2.5%+ -l 1.0"; }
    XF86AudioLowerVolume  allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2.5%-"; }
    XF86AudioMute         allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay         allow-when-locked=true  { spawn-sh "playerctl play-pause --player=spotify,spotifyd"; }
    XF86AudioStop         allow-when-locked=true  { spawn-sh "playerctl stop --player=spotify,spotifyd"; }
    XF86AudioPrev         allow-when-locked=true  { spawn-sh "playerctl previous --player=spotify,spotifyd"; }
    XF86AudioNext         allow-when-locked=true  { spawn-sh "playerctl next --player=spotify,spotifyd"; }

    XF86MonBrightnessUp   allow-when-locked=true  { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true  { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+H                          { focus-column-left; }
    Mod+J                          { focus-window-or-workspace-down; }
    Mod+K                          { focus-window-or-workspace-up; }
    Mod+L                          { focus-column-right; }

    Mod+Shift+H                    { move-column-left; }
    Mod+Shift+J                    { move-window-down-or-to-workspace-down; }
    Mod+Shift+K                    { move-window-up-or-to-workspace-up; }
    Mod+Shift+L                    { move-column-right; }

    Mod+Shift+Ctrl+J               { move-column-to-workspace-down; }
    Mod+Shift+Ctrl+K               { move-column-to-workspace-up; }

    Mod+Shift+U                    { move-workspace-down; }
    Mod+Shift+I                    { move-workspace-up; }

    Mod+WheelScrollDown            { focus-column-right; }
    Mod+WheelScrollUp              { focus-column-left; }

    Mod+Ctrl+WheelScrollDown       { focus-workspace-down; }
    Mod+Ctrl+WheelScrollUp         { focus-workspace-up; }

    Mod+Shift+WheelScrollDown      { move-column-right; }
    Mod+Shift+WheelScrollUp        { move-column-left; }

    Mod+Ctrl+Shift+WheelScrollDown { move-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+Comma         { consume-window-into-column; }
    Mod+Period        { expel-window-from-column; }

    Mod+A             { switch-preset-column-width; }

    Mod+Shift+F       { fullscreen-window; }

    Mod+Ctrl+F        { expand-column-to-available-width; }

    Mod+Ctrl+C        { center-visible-columns; }

    Mod+Minus         { set-column-width "-10%"; }
    Mod+Equal         { set-column-width "+10%"; }

    Mod+Shift+Minus   { set-window-height "-10%"; }
    Mod+Shift+Equal   { set-window-height "+10%"; }

    Mod+V             { toggle-window-floating; }
    Mod+Shift+V       { switch-focus-between-floating-and-tiling; }

    Mod+W             { toggle-column-tabbed-display; }

    // Idk about these{
    Mod+Space         { switch-layout "next"; }
    Mod+Shift+Space   { switch-layout "prev"; }

    Print             { screenshot; }
    Ctrl+Print        { screenshot-screen; }
    Alt+Print         { screenshot-window; }

    Mod+Shift+L       { quit; }
    Mod+Shift+P       { power-off-monitors; }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    // This app-id regular expression will work for both:
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}
